body {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-image: url(https://viget.com/uploads/image/blog/grit.png);
    background-color:#E8DEDC;
}

#colored-nav {
    background-color: #262626;
}

a {
    color:grey;
}

a:hover {
    color:#00A6FB;
}

#navwhole {
    padding: 1%;
}

#navstats {
    background-color: #E8DEDC;
    color: #262626;
}

#main {
    border-radius:4%;
    margin-top:5%;
    margin:2%;
}

#ppic {
    height:200px;
    width:100%;
    margin-top:5%;
}

#parent {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 250px;
    -webkit-column-gap: 250px;
    margin-top: 1%;
}

#parent2 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 200px;
    -webkit-column-gap:200px;
}

#child{
    border:solid 1px #d4d6d8;
    border-radius:1%;
    padding:1%;
    margin-right: 1%;
    width:250px;
    height: 250px;
    display: inline-block;
    box-sizing: border-box;
}

#child2{
    border:solid 1px #d4d6d8;
    border-radius:1%;
    padding:1%;
    margin-right: 1%;
    margin-top: 20%;
    width:200px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
}

#childpic {
    width:99%;
    height:80%;
    margin-left:0.5%;
}

#childpic2 {
    margin-top:2%;
    width:98%;
    height:75%;
    margin-left:0.5%;
}

#more {
    border-top: solid 1px grey;
    padding-left:3%;
    text-align: left;
}

#modbod {
    background-image: url(https://viget.com/uploads/image/blog/grit.png);
    background-color:#E8DEDC;
    padding:0;  
}

#modppic {
    height:70px;
    width:70px;
    border-radius:50%;
    margin-top:5%;
}

#modppic2 {
    height:50px;
    width:50px;
    border-radius:50%;
}

