{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="nav sticky-top" role="navigation">
    <div class="container-fluid" id="navstats">
        <div class="navbar-header">
            <div>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
        </div>
        <ul class="nav" style="margin-left:25%;color:#262626">
            <li class="nav-item" style="width:15%;">
                <a href="" class="nav-link">Followers</a>
            </li>
            <li class="nav-item" style="width:15%;">
                <a href="" class="nav-link">Following</a>
            </li>
            <li class="nav-item" style="width:15%;">
                <a href="" class="nav-link">Projects</a>
            </li>
            <li class="nav-item" style="width:15%;">
                <a href="" class="nav-link">
                    <i class="fas fa-plus"></i> Add project</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid" id="profile">
    <div class="row" id="main">
        <div class="col-md-4 col-sm-12">
            <div class="card text-center" style="width:90%;">
                <a href="" style="margin-left:80%;margin-top:3%;" class="dropdown-toggle btn btn-default"
                    data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fas fa-cog" style="font-size:20px;"></i>
                </a>
                <ul class="dropdown-menu" role="menu" style="padding-left:1%;">
                    <li>
                        <a href="{%url 'profile' %}">Account</a>
                    </li>
                    <li>
                        <a href="/accounts/password/change">Change Password</a>
                    </li>
                    <li>
                        <a href="" data-toggle="modal" data-target="#edit" style="color:gray;">Edit Profile</a>
                    </li>
                </ul>
                <div class="modal fade" id="edit" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding-left:20%;background-color: #E8DEDC;">
                                <div class="row">
                                        <form  action="{%url 'profile' %}" method="post" enctype="multipart/form-data" style="margin-top:10%;color: white;">
                                            {% csrf_token %}
                                        
                                            {% bootstrap_form form layout='inline'%}
                                            <input type="submit" class="btn" value="update" style="background-color:purple;color:white;">
                                        </form>
                                </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <img src="{{user.profile.profile_pic}}"
                    class="img-fluid" id="ppic" alt="...">
                <div class="card-body">
                    <h2>John Parker</h2>
                    <h5 style="color: gray;">@{{user.username}}</h5>
                    <h6 style="color: indigo;">{{user.profile.job|upper}}</h6>
                    <p class="card-text">{{user.profile.bio}}</p>
                    <div class="row" style="text-align:left;">
                        <div class="col-md-4 col-sm-4">
                            <a href=""><i class="fab fa-linkedin"></i> linkedin</a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a href=""><i class="fab fa-github-square"></i> github</a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a href=""><i class="fab fa-facebook-square"></i> facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row" id="parent">
                <div class="btn" data-toggle="modal" data-target="#details">
                    <div class="card" id="child">
                        <img src="https://images.pexels.com/photos/7369/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            id="childpic" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="" style="float:left;">
                                        <i class="fas fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <a href="">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <a href="">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <a href="">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="details" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding-left:20%;background-color: #E8DEDC;">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <img src="https://images.pexels.com/photos/838413/pexels-photo-838413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                            class="img-fluid" id="modppic" alt="...">
                                    </div>
                                    <div class="col-md-4 col-sm-4" style="text-align:left;">
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10">
                                                <h5 class="modal-title">project title</h5>
                                            </div>
                                            <div class="col-md-10 col-sm-10">
                                                <h6 style="color:indigo">by @jparker</h6>
                                                <a href="" style="color:hotpink;">
                                                        Follow
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="row" style="margin-top:10%">
                                            <div class="col-md-4 col-sm-4">
                                                <button type="button" class="btn"
                                                    style="font-weight:bold;color:white;background-color:indigo;">Save
                                                    <i class="fas fa-bookmark"></i></button>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <button type="button" class="btn"
                                                    style="font-weight:bold;color:white;background-color:indigo;">Score
                                                    <i class="fas fa-award" style="color:yellow;"></i></button>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                    <button type="button" class="btn"
                                                        style="font-weight:bold;color:white;background-color:indigo;">Like
                                                        <i class="fas fa-heart" style="color:red;"></i></button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modbod">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="https://images.pexels.com/photos/7369/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                                style="width:100%;height:350px;" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://images.pexels.com/photos/1090393/pexels-photo-1090393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                                style="width:100%;height:350px;" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://images.pexels.com/photos/1586486/pexels-photo-1586486.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                                style="width:100%;height:350px;" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row" style="background-color:#262626;padding:1%;padding-left:10%;">
                                        <div class="col-md-3 col-sm-3" style="text-align: left;">
                                            <a href="" style="font-size:20px;color:white;">
                                                <i class="fas fa-link"></i> Link to site
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-3" style="text-align: left;">
                                            <a href="" style="font-size:20px;color:white;">
                                                <i class="fab fa-github-square"></i> Github code
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="text-align:right;">
                                            <h3 style="color:yellow;"><i class="fas fa-award"></i> Overall score: 7</h3>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:2%;padding-bottom:2%;">
                                        <div class="col-md-12 col-sm-12"
                                            style="border-bottom:solid 1px grey;margin-top:1%;margin-bottom:2%;">
                                            <h5 style="font-weight: bold;">Scores</h5>
                                        </div>
                                        <div id="score" class="col-md-12 col-sm-12"
                                            style="border-bottom:solid 1px grey;margin-top:1%;margin-bottom:1%;">
                                            <div class="row" style="padding-top:2%;padding-bottom:2%;">
                                                <div class="col-md-1 col-sm-1">
                                                    <img src="https://images.pexels.com/photos/838413/pexels-photo-838413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                                        class="img-fluid" id="modppic2" alt="...">
                                                </div>
                                                <div class="col-md-2 col-sm-2" style="padding: 0%;">
                                                    <p style="font-weight:bold;margin:0;text-align: left;">Tayler Perry</p>
                                                    <p style="color:grey;margin:0;">Movie director</p>
                                                </div>
                                                <div class="col-md-7 col-sm-7">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-3">
                                                                <div
                                                                style="height:50px;width:50px;border: solid 3px grey;text-align:center;border-radius:50%;">
                                                               <h4 style="margin-top:15%;">7</h4>
                                                            </div>
                                                            Design
                                                        </div>
                                                        <div class="col-md-3 col-sm-3">
                                                                <div
                                                                style="height:50px;width:50px;border: solid 3px yellow;text-align:center;border-radius:50%;">
                                                                <h4 style="margin-top:15%;">7</h4>
                                                            </div>
                                                            Usability
                                                        </div>
                                                        <div class="col-md-3 col-sm-3">
                                                                <div
                                                                style="height:50px;width:50px;border: solid 3px red;text-align:center;border-radius:50%;">
                                                                <h4 style="margin-top:15%;">7</h4>
                                                            </div>
                                                            Creativity
                                                        </div>
                                                        <div class="col-md-3 col-sm-3">
                                                                <div
                                                                style="height:50px;width:50px;border: solid 3px blue;text-align:center;border-radius:50%;">
                                                                <h4 style="margin-top:15%;">7</h4>
                                                            </div>
                                                            Content
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <div style="border: solid 1px grey;text-align:center;height:100%;width:100%;font-weight:bold;">
                                                        <h1 style="margin-top:5%;">7</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="background-color: #E8DEDC;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}